<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Umów spotkanie</title>

</head>
<body>
<div th:fragment="calendarForm">
    <form style="width: 800px">

        <table bgcolor="#d3d3d3" width="700px" style="height: 400px">
            <th><h2>Wybierz datę i godzinę spotkania</h2></th>
            <tr>



                <td align="center">
                    <h4>DZIEŃ</h4>

                </td>

            </br>

                <td align="center">
                    <h4>GODZINA</h4>
                </td>

            </br>
            </tr>
        </table>
    </form>
</div>

</body>
</html>