
<html>
<head>
    <title>Umów spotkanie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        table, th, td , div.container, div.col-sm{
            border-collapse: collapse;
            border: black solid 1px;
        }
        p.SATURDAY{
            color: darkgray;
        }
        p.SUNDAY{
            color: red;
        }
    </style>
</head>
<body>
<div th:fragment="calendarForm">
    <h1>${monthName} ${firstDay.year}</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm">Poniedziałek</div>
            <div class="col-sm">Wtorek</div>
            <div class="col-sm">Środa</div>
            <div class="col-sm">Czwartek</div>
            <div class="col-sm">Piątek</div>
            <div class="col-sm">Sobota</div>
            <div class="col-sm">Niedziela</div>
        </div>
        <div class="row">
            <c:forEach begin="1" end="${firstDay.dayOfWeek.value - 1}">
                <div class="col-sm"></div>
            </c:forEach>

            <c:forEach items="${tasks}" var="tasksForDay" varStatus="status">
                <div class="col-sm">
                    <c:set var="day" value="${firstDay
                    .withDayOfMonth(status.index+1)}"/>
                    <p class="${day.dayOfWeek}"><b>${status.index+1} </b></p>
                    <c:forEach items="${tasksForDay}" var="task">
                        <p>${task.description}</p>
                    </c:forEach>
                </div>
                <c:if test="${day.dayOfWeek.value == 7}">
        </div><div class="row">
        </c:if>
        </c:forEach>
        <c:forEach begin="${day.dayOfWeek.value + 1}" end="7">
            <div class="col-sm"></div>
        </c:forEach>
    </div>
    </div>
</div>
</body>
</html>