<!DOCTYPE html>
<html lang="en">
<head>

    <script th:src="@{/js/jquery.js}"></script>

    <meta charset="UTF-8">
    <title>Umów spotkanie</title>

    <script>
        $(document).ready(function() {

            $('#provinces').on('change', function() {
                $.ajax({
                    url: "/department/" + $('#provinces').val(),
                    type: "GET",
                    dataType : "json"
                }).done(function(response) {
                    $('#cities').html('');

                    $.each(response, function(index, city) {
                        $('#cities').append('<option value="'+city.id+'">'
                            + city + '</option>')
                    })
                })
            });
            $('#cities').on('change', function() {
                $.ajax({
                    url: "/department/" + $('#cities').val(),
                    type: "GET",
                    dataType : "json"
                }).done(function(response) {
                    $('#addresses').html('');

                    $.each(response, function(index, address) {
                        $('#addresses').append('<option value="'+address.id+'">'
                            + address + '</option>')
                    })
                })
            });
            $('#addresses').on('change', function() {
                $.ajax({
                    url: "/department/" + $('#addresses').val(),
                    type: "GET",
                    dataType : "json"
                }).done(function(response) {
                    $('#specjalizations').html('');

                    $.each(response, function(index, specialization) {
                        $('#specjalizations').append('<option value="'+specialization.id+'">'
                            + specialization + '</option>')
                    })
                })
            });
        });
    </script>

</head>
<body>
<div th:fragment="employeeForm">
    <form th:action="@{/department}" method="GET" th:object="${province}">

        <table bgcolor="#f5f5f5" width="400px" style="height: 400px">
            <tr>
                <th><h2>Wybierz oddział</h2></th>
                <td align="center"><input type="hidden" id="id" name="id" th:value="${userDTO.id}"/></td>
            </tr>
            <br>
            <tr>
                <td align="center"><br>
                    <select style="width: 400px; height: 40px" id="provinces">
                            <option selected>Województowo</option>
                            <option th:each="i : ${provinces}" th:value="${i.id}" th:text="${i.province}"></option>
                    </select> </br></br></td>
            </tr>
            <br>
            <tr>
                <td align="center"><label th:for="city"></label>
                    <select style="width: 400px; height: 40px" id="city">
                            <option selected>Miejscowość</option>
                            <option th:each="i : ${city}" th:value="${i.id}" th:text="${i.label}"></option>
                    </select></br></br></td>
            </tr>
            <br>
            <tr>
                <td align="center"><label th:for="address"></label>
                    <select style="width: 400px; height: 40px" id="address">
                        <option selected>Adress oddziału</option>
                        <option th:each="i : ${address}" th:value="${i.id}" th:text="${i.label}"></option>
                    </select></br></br></td>
            </tr>
            <br>
            <tr>
                <td align="center"><label th:for="jobTitle"></label>
                    <select style="width: 400px; height: 40px" id="jobTitle">
                        <option selected>Specjalizacja</option>
                        <option th:each="i : ${specjalizations}" th:value="${i.id}" th:text="${i.label}"></option>
                    </select></br></br></td>
            </tr>
            <br>
            <tr>
                <td align="center"><label th:for="employee"></label>
                    <select style="width: 400px; height: 40px" id="employee">
                        <option selected>Imie i nazwisko</option>
                        <option th:each="i : ${employees}" th:value="${i.id}" th:text="${i.label}"></option>
                    </select>
                    </br></br></td>


            </tr>
            </ul>
            <br>
        </table>
        </br>
        </br>
    </form>
</div>
</body>
</html>