<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Umów spotkanie</title>
</head>
<body>

<form th:action="@{/create_visit/sum-up}" method="POST" th:object="${visit}">

<table>
    <tr>
        <th>
            <div th:replace="fragments/clientForm :: clientForm"></div>
        </th>
        <th>
            <div th:replace="fragments/employeeForm :: employeeForm"></div>
        </th>
        <th>
            <div th:replace="fragments/calendarForm :: calendarForm"></div>
        </th>
    </tr>
</table>
<br>
</form>
<button aria-setsize="20px" style="width: 500px; align-content: center" type="submit">Zatwierdź</button>

</body>
</html>